@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
body{
    font-family:"Afacad", sans-serif;
}
.contact-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    padding: 40px;
}
.contact-us form{
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
}
.contact-us h2{
    font-size: 50px;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    color: #555555;
}
.contact-us input{
    width: 100%;
    border: 2px solid rgba(85, 85, 85, 0.2);
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
}
.contact-us textarea{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 16px;
}
.contact-us textarea{
    height: 150px;
    resize: none;
}
.contact-us .btn-send{
    width: 100%;
    background-color: #000;
    border-radius: 20px;
}
.contact-us button{
    width: 100%;
    padding: 12px;
    border: none; 
    background-color: #000;
    color: #ffffff;
    font-size: 18px; 
    border-radius: 20px;
    cursor: pointer;
}
.map{
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.map iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}
.social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social li  img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}
.social li img:hover {
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .contact-us {
        flex-direction: column;
        padding: 20px;
    }

    .contact-us h2 {
        font-size: 28px;
    }

    .map {
        height: 300px;
    }
}